<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodyFitness"
        tools:targetApi="31">
        <activity
            android:name=".FatLossExercise"
            android:exported="false" />

        <activity
            android:name=".ShoulderReverseFlyes"
            android:exported="false" />
        <activity
            android:name=".ShoulderTap"
            android:exported="false" />
        <activity
            android:name=".FrontRaise"
            android:exported="false" />
        <activity
            android:name=".LateralRaise"
            android:exported="false" />
        <activity
            android:name=".ShoulderPress"
            android:exported="false" />
        <activity
            android:name=".PikePushUp"
            android:exported="false" />
        <activity
            android:name=".Dips"
            android:exported="false" />
        <activity
            android:name=".Flyes"
            android:exported="false" />
        <activity
            android:name=".DeclinePress"
            android:exported="false" />
        <activity
            android:name=".InclinePress"
            android:exported="false" />
        <activity
            android:name=".BenchPress"
            android:exported="false" />
        <activity
            android:name=".PushUp"
            android:exported="false" />
        <activity
            android:name=".AbsDay"
            android:exported="false" />
        <activity
            android:name=".LegDay"
            android:exported="false" />
        <activity
            android:name=".ArmsDay"
            android:exported="false" />
        <activity
            android:name=".ShoulderDay"
            android:exported="false" />
        <activity
            android:name=".BackDay"
            android:exported="false" />
        <activity
            android:name=".ChestDay"
            android:exported="false" />
        <activity
            android:name=".MuscleMaintain"
            android:exported="false" />
        <activity
            android:name=".FatLoss"
            android:exported="false" />
        <activity
            android:name=".MuscleGain"
            android:exported="false" />
        <activity
            android:name=".UserDetail"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>